*{
    box-sizing: border-box;
}

.form-control {
    background-color: #f1f1f1;
    outline: none;
    border-bottom: 0;
    border-top: 0;
    transition: all .5s;
}

.form-control:active,
.form-control:focus {
    outline: none !important;
    box-shadow: none;
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    padding: -1px;
    
}

.btn:active,
.btn:focus,
.btn:visited {
    outline: none !important;
    box-shadow: none;
}

label {
    font-size: 25px;
    color: #555555;
    padding-right: 20px;
}